{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <section class="card mb-2" id = 'cardChangement' style='width:60%'>
            <div class="card-header text-white bg-primary">
                <h4>
                    Changement de mot de passe
                </h4>
            </div>
            <div class='card-body'>
                <ul class="list-group list-group-flush" id = 'bodyChangement'>
                    <li class="list-group-item">
                        <p>
                            Veuillez entrer votre nouveau mot de passe.
                        </p>
                        {% csrf_token %}
                        {% crispy form_changement %}
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock body %}