{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <section class="card mb-2" id = 'cardConnexion' style="width:60%">
            <div class="card-header text-white bg-primary">
                <h4>
                    Connexion
                </h4>
            </div>
            <div class='card-body'>
                <ul class="list-group list-group-flush" id = 'bodyConnexion'>
                    <li class="list-group-item">
                        {% csrf_token %}
                        {% crispy form_connexion %}
                    </li>
                    <li class='list-group-item'>
                        <a href="/creationCompte">
                            <button type="button" class="btn btn-primary" id='inscription' style="width:100%">
                                Creer un compte
                            </button>
                        </a>
                        <a href="/oubliMotdePasse">
                            <button type="button" class="btn btn-primary mt-2" id='oubli' style="width:100%">
                                Mot de passe oublié
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock body %}
