{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load extra_tags %}

{% block header %}

<div style="background-color:{{ color }}">
      <style>.nav-pills .nav-link.active{
            background-color:{{ color }};
            color:{{ couleur_titre }}!important;
          }
          .pagination > li.active > a{
            background-color:{{ color }}!important;
            color:{{ couleur_titre }}!important;
            border-color:{{ color }}!important;
          }
          </style>
    <h4 class="text-center" style="color:{{ couleur_titre }}">{{ nom_cours }}</h4>
    <ul class="nav nav-pills nav-fill bg-dark" id="questionTab">
        <li class="nav-item">
            <a class="nav-link active text-white rounded-0" data-toggle="pill" href="#pills-recent">
                Questions récentes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white rounded-0" data-toggle="pill" href="#pills-popular">
                Questions populaires
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white rounded-0" data-toggle="pill" href="#pills-valide">
                Questions validées
            </a>
        </li>
    </ul>
</div>
{% endblock header %}

{% block body %}
<div class="input-group mb-4 mt-3">
    <select class="form-control py-2 border-right-0 border" type="search" id="recherche" placeholder="Rechercher une question" autocomplete="off"></select>
    <span class="input-group-append">
        <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
    </span>
</div>
<div class="border rounded p-4 bg-white">
    {% if luminance > 230  %}
        <button class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ couleur_titre }}; color:{{ couleur_titre }}" data-toggle="modal" data-target="#questionModal">Poser une question</button>
    {% else %}
        <button class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ color }}; color:{{ couleur_titre }}" data-toggle="modal" data-target="#questionModal">Poser une question</button>
    {% endif %}
    <div class="modal fade" id="questionModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvelle question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form_question %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="pills-recent">
            {% for question in questions %}
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <a class="text-dark" href="/reponses/{{ question.id }}"><h4 class="font-weight-bold">{{ question.intitule }}</h4></a>
                            </div>
                            <div class="col" align="right">
                                {% if question.valide %}
                                    <div class="float-right ml-2" >
                                        <i class="fa fa-check fa-2x text-success"></i>
                                    </div>
                                {% endif %}
                                {% if possibilite_modifier %}
                                    <button type="button" title="Supprimer" id="{{ question.id }}" class="btn btn-danger supprQuestion" data-toggle="modal" data-target="#alertModal">
                                        <i class="fa fa-trash-alt" style="color:#000000"></i>
                                    </button>
                                    {% if question.epingle %}
                                        <button type="button" title="Épingler" class="btn btn-warning active epingl" value="{{ question.id }}">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% else %}
                                        <button type="button" title="Épingler" class="btn btn-warning epingl" value="{{ question.id }}">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if question in questions_favorites %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success active favor">
                                        <i class="fa fa-heart-broken"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success favor">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="text-justify col-11">
                            {{ question.texte|linebreaks|truncatewords:200 }}
                            {% if question.image %}
                                <a href="/reponses/{{ question.id }}"><img style="max-height:512px" class="img-fluid mx-auto d-block" src="{{ question.image.url }}"></img></a>
                            {% endif %} 
                        </div>
                        <div class="col-1">
                            <div class="btn-group-vertical float-right m-2" role="group">
                                <button type="button" class="btn btn-outline-secondary {{ question.id }}" style="pointer-events: none">{{ question|nb_like }}</button>
                                {% if question|is_like:user %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-outline-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% endif %}
                            </div>       
                        </div>           
                    </div>
                    <div class="card-footer border-0 bg-white">
                    <hr>
                        {% if luminance > 230  %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ couleur_titre }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% else %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ color }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% endif %}
                        <small class="text-muted float-right">Posée le {{ question.date_creation|date:"d F Y à H:i" }} par <strong {% if user|is_professeur %} title={{ question|get_real_pseudo }} {% endif %}> {{ question.pseudo_createur }} </strong></small>
                    </div>
                </div>
            {% endfor %}
            {% if questions.has_other_pages %}
                  <ul class="pagination justify-content-center">
                    {% if questions.has_previous %}
                        <li class="page-item">
                        {% if luminance > 230 %}
                            <a class="page-link" style="color: {{ couleur_titre }}" href="?page={{ questions.previous_page_number }}">Précédent</a>
                        {% else %}
                            <a class="page-link" style="color: {{ color }}" href="?page={{ questions.previous_page_number }}">Précédent</a>
                        {% endif %}
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Précédent</a>
                        </li>
                    {% endif %}
                    {% for i in questions.paginator.page_range %}
                        {% if questions.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                {% if luminance > 230 %}
                                    <a class="page-link" style="color: {{ couleur_titre }}" href="?page={{ i }}">{{ i }}</a>
                                {% else %}
                                    <a class="page-link" style="color: {{ color }}" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if questions.has_next %}
                        <li class="page-item">
                            {% if luminance > 230 %}
                                <a class="page-link" style="color: {{ couleur_titre }}" href="?page={{ questions.next_page_number }}">Suivant</a>
                            {% else %}
                                <a class="page-link" style="color: {{ color }}" href="?page={{ questions.next_page_number }}">Suivant</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Suivant</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="pills-popular">
            {% for question in question_populaire %}
                <div class="card mb-4 ">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col">
                                <a class="text-dark" href="/reponses/{{ question.id }}"><h4 class="font-weight-bold">{{ question.intitule }}</h4></a>
                            </div>
                            <div class="col" align="right">
                                {% if question.valide %}
                                    <div class="float-right ml-2" >
                                        <i class="fa fa-check fa-2x text-success"></i>
                                    </div>
                                {% endif %}                            
                                {% if possibilite_modifier %}
                                    <button type="button" title="Supprimer" id="{{ question.id }}" class="btn btn-danger supprQuestion" data-toggle="modal" data-target="#alertModal">
                                        <i class="fa fa-trash-alt" style="color:#000000"></i>
                                    </button>
                                    {% if question.epingle %}
                                        <button type="button" title="Épingler" value="{{ question.id }}" class="btn btn-warning active epingl">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% else %}               
                                        <button type="button" title="Épingler" value="{{ question.id }}" class="btn btn-warning epingl">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if question in questions_favorites %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success active favor">
                                        <i class="fa fa-heart-broken"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success favor">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="text-justify col-11">
                            {{ question.texte|linebreaks|truncatewords:200 }}
                            {% if question.image %}
                                <a href="/reponses/{{ question.id }}"><img style="max-height:512px" class="img-fluid mx-auto d-block" src="{{ question.image.url }}"></img></a>
                            {% endif %} 
                        </div>
                        <div class="col-1">
                            <div class="btn-group-vertical float-right m-2" role="group">
                                <button type="button" class="btn btn-outline-secondary {{ question.id }}" style="pointer-events: none">{{ question|nb_like }}</button>
                                {% if question|is_like:user %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-outline-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% endif %}
                            </div>       
                        </div>           
                    </div>
                    <div class="card-footer border-0 bg-white">
                    <hr>
                        {% if luminance > 230  %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ couleur_titre }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% else %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ color }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% endif %}
                        <small class="text-muted float-right">Posée le {{ question.date_creation|date:"d F Y à H:i" }} par <strong {% if user|is_professeur %} title={{ question|get_real_pseudo }} {% endif %}> {{ question.pseudo_createur }} </strong> </small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="pills-valide">
            {% for question in questions_valide %}
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <a class="text-dark" href="/reponses/{{ question.id }}"><h4 class="font-weight-bold">{{ question.intitule }}</h4></a>
                            </div>
                            <div class="col" align="right">
                                <div class="float-right ml-2" >
                                    <i class="fa fa-check fa-2x text-success"></i>
                                </div>
                                {% if possibilite_modifier %}
                                    <button type="button" title="Supprimer" id="{{ question.id }}" class="btn btn-danger supprQuestion" data-toggle="modal" data-target="#alertModal">
                                        <i class="fa fa-trash-alt" style="color:#000000"></i>
                                    </button>
                                    {% if question.epingle %}
                                        <button type="button" title="Épingler" value="{{ question.id }}" class="btn btn-warning active epingl">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% else %}               
                                        <button type="button" title="Épingler" value="{{ question.id }}" class="btn btn-warning epingl">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if question in questions_favorites %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success active favor">
                                        <i class="fa fa-heart-broken"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Favoris" value="{{ question.id }}" class="btn btn-success favor">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="text-justify col-11">
                            {{ question.texte|linebreaks|truncatewords:200 }}
                            {% if question.image %}
                                <a href="/reponses/{{ question.id }}"><img style="max-height:512px" class="img-fluid mx-auto d-block" src="{{ question.image.url }}"></img></a>
                            {% endif %} 
                        </div>
                        <div class="col-1">
                            <div class="btn-group-vertical float-right m-2" role="group">
                                <button type="button" class="btn btn-outline-secondary {{ question.id }}" style="pointer-events: none">{{ question|nb_like }}</button>
                                {% if question|is_like:user %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% else %}
                                    <button type="button" title="Aimer" value="{{ question.id }}" class="btn btn-outline-primary like">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                {% endif %}
                            </div>       
                        </div>           
                    </div>
                    <div class="card-footer border-0 bg-white">
                    <hr>
                        {% if luminance > 230  %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ couleur_titre }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% else %}
                            <a class="btn btn-primary" style="background-color:{{ color }}; border-color:{{ color }}; color:{{ couleur_titre }}" href="/reponses/{{ question.id }}">Répondre</a>
                        {% endif %}
                        <small class="text-muted float-right">Posée le {{ question.date_creation|date:"d F Y à H:i" }} par <strong {% if user|is_professeur %} title={{ question|get_real_pseudo }} {% endif %}> {{ question.pseudo_createur }} </strong> </small>
                    </div>
                </div>
            {% endfor %}
            {% if questions_valide.has_other_pages %}
                  <ul class="pagination justify-content-center">
                    {% if questions_valide.has_previous %}
                        <li class="page-item">
                        {% if luminance > 230 %}
                            <a class="page-link" style="color: {{ couleur_titre }}" href="?page_valide={{ questions_valide.previous_page_number }}">Précédent</a>
                        {% else %}
                            <a class="page-link" style="color: {{ color }}" href="?page_valide={{ questions_valide.previous_page_number }}">Précédent</a>
                        {% endif %}
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Précédent</a>
                        </li>
                    {% endif %}
                    {% for i in questions_valide.paginator.page_range %}
                        {% if questions_valide.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                {% if luminance > 230 %}
                                    <a class="page-link" style="color: {{ couleur_titre }}" href="?page_valide={{ i }}">{{ i }}</a>
                                {% else %}
                                    <a class="page-link" style="color: {{ color }}" href="?page_valide={{ i }}">{{ i }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if questions_valide.has_next %}
                        <li class="page-item">
                            {% if luminance > 230 %}
                                <a class="page-link" style="color: {{ couleur_titre }}" href="?page_valide={{ questions_valide.next_page_number }}">Suivant</a>
                            {% else %}
                                <a class="page-link" style="color: {{ color }}" href="?page_valide={{ questions_valide.next_page_number }}">Suivant</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Suivant</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="titreModal1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titreModal1">Attention!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p align="left">Voulez-vous vraiment supprimer cette question?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="supprimer" class="btn btn-danger" data-dismiss="modal" role="button">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block sidebody-left %}
    <ul class="list-group list-group-flush mt-lg-0 mt-5" id="listeFavoris">
        <li class="list-group-item" style="background-color:{{ color }}">
            <h5 style="color:{{ couleur_titre }}">Mes favoris</h5>
        </li>
        <div id="listeIntitulesFavoris" style="word-wrap:break-word">
        {% if not questions_favorites %}
            <li class="list-group-item" id="NoFavoris">
                <h5>Aucune question mise en favoris</h5>
            </li>
        {% else %}
            {% for favori in questions_favorites %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <a class="text-dark" href="/reponses/{{ favori.id }}">
                                <h5>{{ favori.intitule }}</h5>
                            </a>
                        </div>
                        <div class="col" align="right">
                            <button type="button" title="Favoris" value="{{ favori.id }}" class="btn btn-success active favor">
                                <i class="fa fa-heart-broken"></i>
                            </button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        </div>
    </ul>
{% endblock sidebody-left %}

{% block sidebody-right %}
    <ul class="list-group list-group-flush mt-5" id="listeEpinglees">
        <li class="list-group-item" style="background-color:{{ color }}">
            <h5 style="color:{{ couleur_titre }}">Questions épinglées</h5>
        </li>
        <div id="listeIntitules" style="word-wrap:break-word">
        {% if not questions_epinglees %}
            <li class="list-group-item" id="NoQuestion">
                <h5>Aucune question n'est épinglée</h5>
            </li>
        {% else%}
            {% for epinglee in questions_epinglees %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <a class="text-dark" href="/reponses/{{ epinglee.id }}">
                                    <h5>{{ epinglee.intitule }}</h5>
                                </a>
                            </div>
                            {% if possibilite_modifier %}
                                <div class="col" align="right">
                                    <button type="button buttonEpinglees" title="Épingler" value="{{ epinglee.id }}" class="btn btn-warning active epingl" aria-pressed="true">
                                        <i class="fa fa-thumbtack"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col" align="right">
                                    <i class="fa fa-thumbtack text-warning mt-1 fa-lg" ></i>
                                </div>
                            {% endif %}
                        </div>
                    </li>
            {% endfor %}
        {% endif %}
        </div>
    </ul>
{% endblock sidebody-right %}

{% block javascript %}
<script src="{% static 'js/confirmationBox.js' %}"></script>
<script src="{% static 'js/bootstrap-autocomplete.min.js'%}"></script>
<script>
    $(".supprQuestion").click(function(){
        var id=$(this).attr('id');
        $("#supprimer").val(id);
    });
    $("#supprimer").click(function(){
        var id=$(this).val();
        $.ajax({
            type: 'POST',
            data: {'id': id, 'action' : 'suppression'},
            dataType: 'json',
            url: '/cours/supprimer',
            success: function(data){
                $("#pills-recent").find("#"+id).parent().parent().parent().parent().remove();
                $("#pills-popular").find("#"+id).parent().parent().parent().parent().remove();
                $("#pills-valide").find("#"+id).parent().parent().parent().parent().remove();
                $("#listeIntitules").find("button").filter(function(){
                    return $(this).val() == id;
                }).parent().parent().parent().remove();
                $("#listeIntitulesFavoris").find("button").filter(function(){
                    return $(this).val() == id;
                }).parent().parent().parent().remove();
                if($.trim($("#listeIntitulesFavoris").html())==''){
                    $("#listeFavoris").append("<li class='list-group-item' id='NoFavoris'><h5>Aucune question mise en favoris.</h5></li>");
                }
                if($.trim($("#listeIntitules").html())==''){
                    $("#listeEpinglees").append("<li class='list-group-item' id='NoQuestion'><h5>Aucune question n'est épinglée</h5></li>");
                }
                confirmationBox('danger', 'alertSupprQuestion', 'countSupprQ', 'La question a été supprimée.');
            }
        });
    });

    $(document).on('click','.favor', (function(){
        var idQuestion=$(this).attr("value");
        $.ajax({
            type : 'POST',
            data : {'id' : idQuestion, 'action' : 'favorisation'},
            dataType : 'json',
            url : '/cours/favoris',
            success: function(data){
                if(data.isFavori){      //on a ajouté aux favoris
                    $("#NoFavoris").remove();
                    $("button.favor[value='" + idQuestion + "']").addClass("active");
                    $("button.favor[value='" + idQuestion + "']").children().removeClass('fa-heart');
                    $("button.favor[value='" + idQuestion + "']").children().addClass('fa-heart-broken');
                    $("#listeIntitulesFavoris").append("<li class='list-group-item'><div class='row'><div class='col'><a class='text-dark' href='/reponses/" + idQuestion + "'><h5>" +  data.intitule + "</h5></a></div><div class='col' align='right'><button type='button' value='" + idQuestion + "' title='Favoris' class='btn btn-success active favor'><i class='fa fa-heart-broken'></i></button></div></div></li>");
                    confirmationBox('success', 'alertFavor', 'countFavori', 'La question a été ajoutée aux favoris.');
                }
                else{       //on a retiré des favoris
                    var tempText = data.intitule
                    tempText = tempText.replace(/(['"])/g, "\\$1");
                    $("#listeFavoris").find("h5").filter(function(){
                        var tempFilter = $(this).text();
                        tempFilter = tempFilter.replace(/(['"])/g, "\\$1");
                        return tempFilter === tempText;
                    }).parent().parent().parent().parent().remove();
                    $("button.favor[value='" + idQuestion + "']").removeClass("active");
                    $("button.favor[value='" + idQuestion + "']").children().removeClass('fa-heart-broken');
                    $("button.favor[value='" + idQuestion + "']").children().addClass('fa-heart');
                    confirmationBox('danger', 'alertRetirerFavoris', 'countRetirerFavoris', 'La question a été retirée des favoris.');
                    if($.trim($("#listeIntitulesFavoris").html())==''){
                        $("#listeFavoris").append("<li class='list-group-item' id='NoFavoris'><h5>Aucune question mise en favoris.</h5></li>");
                    }
                }
            }
        });
    }));

    $(document).on('click', '.epingl', (function(){
        var idQuestion=$(this).attr("value");
        $.ajax({
            type : 'POST',
            data : {'id' : idQuestion, 'action' : 'epinglage'},
            dataType : 'json',
            url : '/cours/epingler',
            success: function(data){
                if(data.isCreateur){
                    if(data.isEpingle){   //on a épinglé
                        $("#NoQuestion").remove();
                        $("button.epingl[value='" + idQuestion + "']").toggleClass('active');
                        $("#listeIntitules").append("<li class='list-group-item'><div class='row'><div class='col'><a class='text-dark' href='/reponses/" + idQuestion + "'><h5>" +  data.intitule + "</h5></a></div><div class='col' align='right'><button type='button' value='" + idQuestion + "'  title='Épingler' class='btn btn-warning active epingl'><i class='fa fa-thumbtack'></i></button></div></div></li>");
                        confirmationBox('success', 'alertEpingl', 'countEpingle', 'La matière a été épinglée.');
                    }
                    else{   //on a désépinglé
                        var tempText = data.intitule
                        tempText = tempText.replace(/(['"])/g, "\\$1");
                        $("#listeEpinglees").find("h5").filter(function(){
                            var tempFilter = $(this).text();
                            tempFilter = tempFilter.replace(/(['"])/g, "\\$1");
                            return tempFilter === tempText;
                        }).parent().parent().parent().parent().remove();
                        $("button.epingl[value='" + idQuestion + "']").toggleClass('active');
                        confirmationBox('danger', 'alertDesepingle', 'countDesepingle', "La matière n'est plus épinglée.");
                        if($.trim($("#listeIntitules").html())==''){
                            $("#listeEpinglees").append("<li class='list-group-item' id='NoQuestion'><h5>Aucune question n'est épinglée</h5></li>");
                        }
                    }
                }
            },
        });
    }));

    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });

    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('.nav-item a[href="' + activeTab + '"]').tab('show');
    }

    $('#recherche').autoComplete({
        resolverSettings: {
            url: '/cours/recherche',
            extraData: {'matiere' : {{ matiere.id }} },
        },

    });

    $('#recherche').on('autocomplete.select', function(evt, item) {
        window.location.href = item.href;
    });

    $(".like").click(function () {
        var id = $(this).val();
        $("[value=" + id +"]").each(function(){
            if($(this).hasClass("btn-primary")){
                $(this).removeClass("btn-primary").addClass("btn-outline-primary");
            }
            else if ($(this).hasClass("btn-outline-primary")) {
                $(this).removeClass("btn-outline-primary").addClass("btn-primary");
            }
        });

        $.ajax({
            type: 'POST',
            data: {'id': id},
            dataType: 'json',
            url: '/cours/like',
            success: function(data){
                numbers = document.getElementsByClassName(id);
                [].slice.call( numbers ).forEach(function ( number ) {
                    number.innerHTML = data.increment;
                });
            },
        });
    });

</script>
{% endblock javascript %}
