{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <section class="card mb-2" id = 'cardCreation' style='width:60%'>
            <div class="card-header text-white bg-primary">
                <h4>
                    Création de compte
                </h4>
            </div>
            <div class='card-body'>
                <ul class="list-group list-group-flush" id = 'bodyConnexion'>
                    <li class="list-group-item">
                        {% csrf_token %}
                        {% crispy form_creation %}
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock body %}