{% extends 'site/navbarre.html' %}
{% load static  %}

{% block indexBody %}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>

    <div style="background-image : linear-gradient(to right, #23D5AB, #387CD3); clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0 100%)">
        <div class="row justify-content-md-center pt-5 ml-2 mr-2">
            <div class="col-8">
                <ul class="messages list-unstyled" id="alertMessage">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
                </ul>
                <div class="ml-3 mr-3 mb-5" style="text-align:center">
                    <div id="indexCarousel" class="carousel slide w-100" style="height:25em" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li id="buttonCarousel1" data-target="#indexCarousel" data-slide-to="0" class="active buttonCarousel" style="filter:invert(1)"></li>
                            <li id="buttonCarousel2" data-target="#indexCarousel" data-slide-to="1" class="buttonCarousel" style="filter:invert(1)"></li>
                            <li id="buttonCarousel3" data-target="#indexCarousel" data-slide-to="2" class="buttonCarousel" style="filter:invert(1)"></li>
                        </ol>
                        <div class="carousel-inner" style="margin:auto">
                            <div class="carousel-item active" data-interval="5000">
                                <img src="{% static 'images/Image1.PNG' %}" class="d-block w-100 h-100" alt="Première image">
                            </div>
                            <div class="carousel-item" data-interval="5000">
                                <img src="{% static 'images/Image2.PNG' %}" class="d-block w-100 h-100" alt="Deuxième image">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/Image3.PNG' %}" class="d-block w-100 h-100" alt="Troisième image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev" style="filter:invert(1)">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control-next color-blue" href="#indexCarousel" role="button" data-slide="next" style="filter:invert(1)">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                    <div class="mt-5" >
                        <h5 class="texteCarousel text-white">Avant toute chose, inscrivez-vous aux matières qui vous concernent ! Posez-y les questions qui vous tracassent et aidez les autres étudiants !</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 style="text-align:center; color:#2268C2" class="mt-4 mb-5">Oskour, qu'est-ce que c'est ?</h2>
    <div class="row ml-5 mr-5 mb-4">
    <div class="col-2"></div>
    <div class="row col-8">
        <div class="col-4 pr-4 pl-4 ">
            <h4 style="color:#2268C2">Collaboration</h4>
            <p class="text-justify">Oskour permet aux étudiants de s'entraider en posant des questions auxquelles les autres étudiants et les professeurs peuvent répondre !</p>
        </div>
        <div class="col-4 pr-4 pl-4">
            <h4 style="color:#2268C2">Préférences</h4>
            <p class="text-justify">Créez vos dossiers de matières, mettez des questions en favoris, ou utilisez les questions épinglées par les professeurs !</p>
        </div>
        <div class="col-4 pr-4 pl-4">
            <h4 style="color:#2268C2">Compétences</h4>
            <p class="text-justify">Grâce à Oskour, posez des questions en-dehors des cours et gardez-les de côté pour vous aider dans vos révisions !</p>
        </div>
    </div>
    </div>

    <div style="background-image : linear-gradient(to right, #6B44C3, #2472CD); clip-path: polygon(0 0, 100% 2vw, 100% calc(100% - 2vw), 0 100%);">
    <h2 style="text-align:center" class="pt-5 mb-5 text-white">Mais à quoi ça sert ?</h2>
        <div class="row ml-5 mr-5 justify-content-center">
            <p class="text-white pb-4 col-8">Oskour a été conçu dans le but de venir en aide aux étudiants en leur proposant un moyen de poser leurs questions (anonymement ou non) en-dehors des cours et de les conserver.
                </br>Ainsi, les professeurs et les étudiants conservent un contact qui leur permet d'être plus efficaces !
            </p>
        </div>
    </div>

    <h2 style="text-align:center">À propos de l'université</h2>
    <div class="row mr-2 ml-2 mb-4 mt-4">
        <div class="col-8 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.3051478117327!2d3.5103940156109803!3d50.32355797945811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2ed1015d17701%3A0x894de40d0d2128c6!2sUniversit%C3%A9%20Polytechnique%20Hauts-de-France!5e0!3m2!1sfr!2sfr!4v1583783722231!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="col-4 mt-auto mb-auto">
            <h4>Nous trouver:</h4>
            <div class="text-align: center">
                <div class="fb-page mb-4" data-href="https://www.facebook.com/uphfofficiel/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/uphfofficiel/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/uphfofficiel/">Université Polytechnique Hauts-de-France</a></blockquote></div>
                <br/>
                <a href="https://twitter.com/UphfOfficiel?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Suivez @UphfOfficiel</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

    <footer class="w-100 bg-dark pt-2 pb-2">
        <div class="container">
            <div class="row ml-2 mr-2">
                <div class="col-8 pr-2 pl-2 mt-auto mb-auto">
                    <div class="text-white pt-2" style="text-align:center">
                        <small>Oskour a été réalisé dans le cadre d'un projet annuel de Licence 3 Informatique à l'Université Polytechnique des Hauts-de-France de Valenciennes, par l'équipe Aled.</small>
                    </div>
                </div>
                <div class="col-4 pr-2 pl-2">
                    <div class="text-white pt-2 pb-2 mt-auto mb-auto" style="text-align:center">
                        <p>Qui sommes-nous?</p>
                        <small>L'équipe Aled est constituée de:</small>
                        <div class="row mr-2 ml-2 mt-1 justify-content-end">
                            <div class="col-5 text-middle mt-auto mb-auto">
                                <small>Hugo Haquette</small>
                            </div>
                            <div class="col-5 text-left mt-auto mb-auto">
                                <button type="button" class="btn btn-light btn-lg" style="width:33px; height:33px; text-align:center; padding: 6px 0; font-size:20px; line-height:1; border-radius:16px">
                                    <a href="https://www.linkedin.com/in/hugo-haquette-a6544b151/">
                                        <i class="fab fa-linkedin" style=""></i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-light btn-lg" style="width:33px; height:33px; text-align:center; padding: 6px 0; font-size:20px; line-height:1; border-radius:16px">
                                    <a class="mt-auto mb-auto" href="mailto:hugo097@hotmail.fr"><i class="fa fa-envelope mt-auto mb-auto"></i></a>
                                </button>
                            </div>
                        </div>
                        <div class="row mr-2 ml-2 mt-2 justify-content-end">
                            <div class="col-5 text-middle mt-auto mb-auto">
                                <small>Lilian Delouvy</small>
                            </div>
                            <div class="col-5 text-left mt-auto mb-auto">
                                <button type="button" class="btn btn-light btn-lg" style="width:33px; height:33px; text-align:center; padding: 6px 0; font-size:20px; line-height:1; border-radius:16px">
                                    <a href="https://www.linkedin.com/in/lilian-delouvy-813bb0198/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-light btn-lg" style="width:33px; height:33px; text-align:center; padding: 6px 0; font-size:20px; line-height:1; border-radius:16px">
                                    <a class="mt-auto mb-auto" href="mailto:lilian.delouvy@gmail.com"><i class="fa fa-envelope mt-auto mb-auto"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
{% endblock indexBody %}

{% block javascript %}
    <script>
    
        $(document).on('slide.bs.carousel', function(){
            $('.texteCarousel').fadeTo(400,0);
            $('.texteCarousel').delay(400);
        });

        $(document).on('slid.bs.carousel', function(){
            var newText;
            if ($("#buttonCarousel1").hasClass('active')){
                newText="Avant toute chose, inscrivez-vous aux matières qui vous concernent ! Posez-y les questions qui vous tracassent et aidez les autres étudiants !";
            }
            else if ($("#buttonCarousel2").hasClass('active')){
                newText="Vous pouvez mettre les questions qui vous intéressent le plus en favoris et voir les questions qui ont été épinglées par les professeurs.";
            }
            else{
                newText="Vous voyez une réponse encadrée en vert, avec un symbole vert ? Alors c'est que la réponse a été validée par le professeur !";
            }
            $('.texteCarousel').text(newText);
            $('.texteCarousel').fadeTo(400,1);
        })

    </script>
{% endblock javascript %}