{% load static  %}
{% load crispy_forms_tags %}

<html>
  <head>
      <title>Oskour</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/all.min.js' %}"></script>
      <script src="{% static 'js/getcookie.js' %}"></script>
  </head>
  <header class="sticky-top">
    <nav class="nav navbar-dark bg-dark">
    <div class="w-25 dropdown">
      {% if request.user.is_authenticated %}
      <a class="nav-link dropdown-toggle text-white border-0" href="#" role="button" data-toggle="dropdown" id="navbarToggle" aria-expanded="false" aria-haspopup="true">
              Vos cours
      </a>
      <div class="dropdown-menu animate slideIn" style="max-height:30em; overflow:auto" aria-labelledby="navbarToggle" style="z-index:1">
        {% if sidebar %}
          <div style="text-align:center">
            <button type="button" class="btn btn-success newFolder" data-toggle="modal" data-target="#nouveauDossierModal">
              <i class="fa fa-folder-plus"></i>
            </button>
            <button type="button" class="btn btn-danger deleteFolder" data-toggle="modal" data-target="#confirmationSupprModal">
              <i class="fa fa-folder-minus"></i>
            </button>
          </div>
          <div class="dropdown-divider"></div>
          {% if dossiers_user %}
            <h4 class="dropdown-item"><b>Dossiers</b></h4>
            {% for dossier in dossiers_user %}
              <div class="dropdown-item nomDossier" style="cursor: pointer" id="{{ dossier.id }}" style="margin:0" data-toggle="modal" data-target="#dossierOuvertModal">{{ dossier.nom }}</div>
            {% endfor %}
            <div class="dropdown-divider"></div>
          {% endif %}
          <h4 class="dropdown-item"><b>Matières</b></h4>
          {% for nom, lien in sidebar|dictsort:0 %}
            <a href={{ lien }} class="dropdown-item">{{ nom }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
        {% endif %}
        <a href="/selection_matieres" class="btn btn-primary mb1 text-dark bg-white border-0">Ajouter des cours</a>
      </div>
      {% endif %}
      </div>
    </div>

      <h3 class="mx-auto text-center"><a class="text-decoration-none text-white" href='/'>Oskour</a></h3>
      <div class="w-25 d-sm-flex justify-content-end">
      {% for nom, lien in nav|dictsortreversed:0 %}
        <a href={{ lien }} class="text-white p-2">{{ nom }}</a>
      {% endfor %}
      </div>
    </nav>
    {% block header %}
    {% endblock header %}
  </header>
  <body class="bg-light">
    {% block indexBody %}
      <div class="row ml-2 mr-2">
        <div class="col-3 mt-5">
          <div class="col-md-12 col-lg-8 float-right sticky-top" style="top:11.5rem; z-index:0" id="containerSideblockLeft">
            {% block sidebody-left%}
            {% endblock sidebody-left %}
          </div>
        </div>
        <div class="container col-6 mt-5">
          <ul class="messages list-unstyled" id="alertMessage">
              {% for message in messages %}
              <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
              {% endfor %}
          </ul>
          {% block body %}
          {% endblock body %}
        </div>
        <div class="col-3 mt-5">
          <div class="col-md-12 col-lg-8 sticky-top" style="top:11.5rem" id="containerSideblockRight">
            {% block sidebody-right %}
            {% endblock sidebody-right %}
          </div>
        </div>
      </div>
    {% endblock indexBody %}
    {% block javascript %}
    {% endblock javascript %}

  {% if request.user.is_authenticated %}
    <script src="{% static 'js/confirmationBox.js' %}"></script>
    <script>
        $.ajaxSetup({
            // fonction appelée avant d'envoyer une requête AJAX
            beforeSend: function(xhr, settings) {
                // on ajoute le header que si la requête est pour le site en cours
                // (URL relative) et est de type POST
                if (!/^https?:.*/.test(settings.url)  && settings.type == "POST") {
                    // attachement du token dans le header
                    xhr.setRequestHeader("X-CSRFToken",  getCookie('csrftoken'));
                }
            }
        });
        var allChildren;
        $(".nomDossier").click(function(){
          var nom = $(this).text();
          var id = $(this).attr('id');
          $(".nomDossierModal").text(nom);
          $.ajax({
            type : 'POST',
            data : {'id' : id, 'action' : 'ouvertureDossier'},
            dataType : 'json',
            url : '/ouvertureDossier',
            success: function(data){
              var link;
              var idMatiere;
              var nomMatiere;
              if($(".retourDossier")[0]){  //suppression du bouton retourDossier si il existe
                $(".retourDossier")[0].remove();
              }
              $(".listeMatieresDossier").append("<div class='mb-2' style='text-align:right'><button type='button' class='btn btn-success addMatiere' id='" + id + "'>Ajouter des matières</button></div>");
              if (!$.trim(data.infos_matieres)){
                  $(".listeMatieresDossier").prepend("<h4 class='dropdown-item noMatiere'>Ce dossier ne contient aucune matière.</h4>");
              }
              else{
                for(var matiere in data['infos_matieres']){
                  nomMatiere = data['infos_matieres'][matiere][0];
                  idMatiere = data['infos_matieres'][matiere][1];
                  link = '/cours/' + idMatiere;
                  $(".listeMatieresDossier").prepend("<div class='row mb-2 mr-3'><div class='col-11'><a href='" + link + "' class='dropdown-item'>" + nomMatiere + "</a></div><div class='col-1' align='right'><button type='button' class='btn btn-danger deleteMatiere' value='" + idMatiere + "' valueDossier='" + id + "'><i class='fa fa-minus'></i></button></div></div>");
                }
              }
            }
          });
        });

        $(document).on('click', '.addMatiere', function() {
          var idDossier = $(this).attr('id');
          $.ajax({
            type : 'POST',
            data : {'idDossier' : idDossier, 'action' : 'listeAjoutMatiereDossier'},
            dataType : 'json',
            url : '/liste_matieres_dossier',
            success : function(data){
              var nom = $(".nomDossierModal").text();
              var parent = $(".nomDossierModal").parent();
              allChildren = $(".listeMatieresDossier").clone();
              parent.prepend("<button type='button' class='btn retourDossier'><i class='fa fa-chevron-circle-left'></i></button>");
              $(".listeMatieresDossier").empty();
              if (!$.trim(data.infos_matieres)){
                  $(".listeMatieresDossier").append("<h4 class='dropdown-item'>Ce dossier contient déjà toutes </br> les matières auxquelles vous êtes inscrit!</h4>");
              }
              else{
                $(".listeMatieresDossier").append("<h4 class='w-100' style='text-align:center'>Ajout de matières au dossier</h4>");
                for(var matiere in data['infos_matieres']){
                  nomMatiere = data['infos_matieres'][matiere][0];
                  idMatiere = data['infos_matieres'][matiere][1];
                  $(".listeMatieresDossier").append("<div class='row mb-2 mr-3'><div class='col-11'><div class='dropdown-item'>" + nomMatiere + "</div></div><div class='col-1' align='right'><button type='button' class='btn btn-success addMatieretoFolder' value='" + idMatiere + "' valueDossier='" + idDossier + "'><i class='fa fa-plus'></i></button></div></div>")
                }
              }
            }
          }); 
        });

        $(document).on('click', '.retourDossier', function(){
          var parentListe = $(".listeMatieresDossier").parent();
          $(".retourDossier")[0].remove();
          $(".listeMatieresDossier").remove();
          parentListe.append(allChildren);
        });

        $(document).on('click', '.addMatieretoFolder', function(){
          var idDossier = $(this).attr('valueDossier');
          var idMatiere = $(this).attr('value');
          $.ajax({
            type : 'POST',
            data : {'idDossier' : idDossier, 'idMatiere' : idMatiere, 'action' : 'ajoutMatiereDossier'},
            dataType : 'json',
            url : '/add_matiere_dossier',
            success : function(data){
              $(".addMatieretoFolder").filter(function(){
                if($(this).attr('value') == idMatiere){
                  if(allChildren.find('h4').length){  //si allChildren ne contenait que le message indiquant que la liste de matières est vide, alors on doit supprimer ce message
                    allChildren.empty();
                    allChildren.append("<div class='mb-2' style='text-align:right'><button type='button' class='btn btn-success addMatiere' id='" + idDossier + "'>Ajouter des matières</button></div>");
                  }
                  nomMatiere = $(this).parent().parent().first().children().text();
                  link = '/cours/' + idMatiere;
                  allChildren.prepend("<div class='row mb-2 mr-3'><div class='col-11'><a href='" + link + "' class='dropdown-item'>" + nomMatiere + "</a></div><div class='col-1' align='right'><button type='button' class='btn btn-danger deleteMatiere' value='" + idMatiere + "' valueDossier='" + idDossier + "'><i class='fa fa-minus'></i></button></div></div>");
                  return true;
                }
                else{
                  return false;
                }
              }).parent().parent().remove();
              if(!$(".addMatieretoFolder")[0]){
                $(".listeMatieresDossier").append("<h4 class='dropdown-item'>Ce dossier contient déjà toutes </br> les matières auxquelles vous êtes inscrit!</h4>");
              }
              confirmationBox('success', 'alertAddMatiereDossier', 'countAddMD', 'La matière a été ajoutée au dossier.');
            }
          });
        });

        $(document).on('hidden.bs.modal', '#dossierOuvertModal', function() {
          $(".listeMatieresDossier").empty();
        });

        $(document).on('click', '.deleteMatiere', function(){
          var idMatiere = $(this).attr('value');
          var idDossier = $(this).attr('valueDossier');
          $.ajax({
            type : 'POST',
            data : {'idMatiere' : idMatiere, 'idDossier': idDossier, 'action' : 'suppressionMatiereDossier'},
            dataType : 'json',
            url : '/suppression_matiere_dossier',
            success: function(data){
              $(".deleteMatiere").filter(function(){
                return $(this).attr('value') == idMatiere;
              }).parent().parent().remove();
              if (!$(".deleteMatiere")[0]){   //si il n'y a plus de bouton deleteMatiere
                $(".listeMatieresDossier").prepend("<h4 class='dropdown-item'>Ce dossier ne contient aucune matière.</h4>");
              }
              confirmationBox('danger', 'alertSupprMatiereDossier', 'countSupprMD', 'La matière a été retirée du dossier.');
            }
          });
        });

      </script>

    <div class="modal fade" id="nouveauDossierModal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 text-center modal-title">Nouveau Dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  {% crispy form_nouveau_dossier %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dossierOuvertModal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 text-center modal-title nomDossierModal">Nom du dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body listeMatieresDossier">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationSupprModal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 text-center modal-title">Supprimer des dossiers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form_all_dossiers %}
                </div>
            </div>
        </div>
    </div>

  {% endif %}

  </body>
  
</html>

