{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <section class="card mb-2" id = 'cardOubli' style='width:60%'>
            <div class="card-header text-white bg-primary">
                <h4>
                    Oubli de mot de passe
                </h4>
            </div>
            <div class='card-body'>
                <ul class="list-group list-group-flush" id = 'bodyOubli'>
                    <li class="list-group-item">
                        <p>
                            Un email vous sera envoyé afin de confirmer votre identité après avoir renseigné votre adresse email.
                        </p>
                        {% csrf_token %}
                        {% crispy form_oubli %}
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock body %}