{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<h1> {{ titre_formulaire }} </h1>
{% for formulaire in formulaires %}
    <section class="card">
        <div class="card-header bg-primary text-white">{{ formulaire.titre }}</div>
        <div class="card-body">
            <form "{% url "parametres" %}" method="post">
                {% csrf_token %}
                {% crispy formulaire %}
            </form>
        </div>
    </section>
{% endfor %}
{% if is_prof %}
    <section class="card mt-4 mb-2" id = 'cardMatieres'>
        <div class="card-header text-white bg-primary">
            Gestion des matieres créées
        </div>
        <div class="card-body" id = 'bodyMatieres'>
            {% if not matieres_prof %}
                <div class="row pt-1 pb-1 m-0">
                    <p class="text-center pt-1 pb-1">Vous n'avez créé aucune matière!</p>
                </div>
            {% else %}
                <ul class="list-group list-group-flush" id="accordionMatieresCrees">
                    {% for matiere, tabQuestionsCrees in tab_questions_par_matiere_createur %}
                        <li class="list-group-item" >
                            <div class="row">
                                <div class="col" align="left">
                                    {{ matiere.nom }}
                                </div>
                                <div class="col" align="right">
                                    <button type="button" id="{{ matiere.id }}" class="btn btn-warning" onclick="window.location.href = '/statistique/{{ matiere.id }}'">
                                        <i class="fa fa-chart-bar"></i>
                                    </button>
                                    <button type="button" title="Modifier le mot de passe" id ="{{ matiere.id }}" class="btn btn-warning edit" data-toggle="modal" data-target="#alertModal2">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button type="button" title="Supprimer la matière" id ="{{ matiere.id }}" class="btn btn-danger suppr" data-toggle="modal" data-target="#alertModal">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="titreModal1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titreModal1">Attention !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p align="left">Voulez-vous vraiment supprimer cette matière?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="supprimer" class="btn btn-danger" data-dismiss="modal" role="button">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alertModal2" tabindex="-1" role="dialog" aria-labelledby="titreModal2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titreModal1">Changement du mot de passe de la matière</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p align="left">Nouveau mot de passe</p>
                    <input id="modifPassword" type="password" maxlength="50" class="textinput textInput form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="modifier" class="btn btn-success" data-dismiss="modal" role="button">Modifier</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if is_eleve or is_prof %}

    <section class="card mt-4 mb-2" id = 'cardMatieresEleves'>
        <div class="card-header text-white bg-primary">
            Inscriptions
        </div>
        <div class="card-body listeMatieresEleve">
            {% if not tab_questions_par_matiere %}
                <div class="row pt-1 pb-1 m-0">
                    <p class="text-center pt-1 pb-1">Vous n'êtes inscrit à aucune matière!</p>
                </div>
            {% else %}
                <div class="list-group list-group-flush" id="accordionMatieres">
                    {% for matiere, tabQuestions in tab_questions_par_matiere %}
                    <div class="card">
                            <a class="list-group-item list-group-item-action" id="heading{{ matiere.id }}" style="cursor: pointer" data-toggle="collapse" data-target="#collapse{{ matiere.id }}" aria-expanded="false" aria-controls="collapse{{ matiere.id }}">
                                <div class="row">
                                    <div class="col-11">
                                        <h5>{{ matiere.nom }}</h5>
                                    </div>
                                    <div class="col-1 text-right mb-auto mt-auto">
                                        <button type="button" title="Se désinscrire" id ="{{ matiere.id }}" class="btn btn-danger desinscription" data-toggle="modal" data-target="#alertDesinscription">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </a>
                            <div id="collapse{{ matiere.id }}" class="collapse" aria-labelledby="heading{{ matiere.id }}" data-parent="#accordionMatieres" style:"border-bottom:none">
                                <div style="word-wrap:break-word">
                                    <div class="list-group list-group-flush">
                                        {% if not tabQuestions %}
                                            <a class="list-group-item list-group-item-action disabled">
                                                Vous n'avez posé aucune question dans cette matière.
                                            </a>
                                        {% endif %}
                                        {% for question in tabQuestions %}
                                            <a class="list-group-item list-group-item-action" href="/reponses/{{ question.id }}">
                                                {{ question.intitule }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

{% endif %}

    <div class="modal fade" id="alertDesinscription" tabindex="-1" role="dialog" aria-labelledby="titreModal3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titreModal3">Attention !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p align="left">Voulez-vous vraiment vous désinscrire de cette matière?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="desinscriptionMatiere" class="btn btn-danger" data-dismiss="modal" role="button">Se désinscrire</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
<script src="{% static 'js/confirmationBox.js' %}"></script>
<script>
    $(".desinscription").click(function(){
        var id = $(this).attr('id');
        $("#desinscriptionMatiere").val(id);
    });
    $(document).on('click', '#desinscriptionMatiere', (function(){
        var id = $(this).val();
        $.ajax({
            type: 'POST',
            data: {'id': id, 'action' : 'desinscription'},
            dataType: 'json',
            url:'/cours/desinscription',
            success: function(data){
                $(".desinscription").filter(function(){
                    return $(this).attr('id') == id;
                }).parent().parent().parent().parent().remove();
                if($.trim($(".accordionMatieresAbonnes").html())==''){
                    $("#accordionMatieresAbonnes").remove();
                    $(".listeMatieresAboProf").append("<div class='row pt-1 pb-1 m-0'><p class='text-center pt-1 pb-1'>Vous n'êtes inscrit à aucune matière!</p></div>");
                }
                if($.trim($(".accordionMatieres").html())==''){
                    $("#accordionMatieres").remove();
                    $(".listeMatieresEleve").append("<div class='row pt-1 pb-1 m-0'><p class='text-center pt-1 pb-1'>Vous n'êtes inscrit à aucune matière!</p></div>");
                }
                confirmationBox('danger', 'alertDesinscription', 'countDesinscription', 'Vous vous êtes désinscrit de la matière.');
            }
        });
    }));

    $(".suppr").click(function(){
        var id = $(this).attr('id');
        $("#supprimer").val(id);
    });
    $("#supprimer").click(function(){
        var id = $(this).val();
        $.ajax({
            type: 'POST',
            data: {'id': id, 'action' : 'suppression'},
            dataType: 'json',
            url: 'parametres',
            success: function(data){
                $("#" + id).parent().parent().parent().parent().remove();
                if($.trim($("#accordionMatieresCrees").html())==''){
                    $('#accordionMatieresCrees').remove();
                    $('#bodyMatieres').append("<div class='row pt-1 pb-1 m-0'><p class='text-center pt-1 pb-1'>Vous n'avez créé aucune matière!</p></div>")
                }
                confirmationBox('danger', 'alertSupprMatiere', 'countSupprM', 'La matière a été supprimée.');
            },
        });
    });
    $(".edit").click(function(){
        var id = $(this).attr('id');
        $("#modifier").val(id);
    });
    $("#modifier").click(function(){
        var id = $(this).val();
        var pass = $("#modifPassword").val();
        $("#modifPassword").val("");
        $.ajax({
            type: 'POST',
            data: {'id': id, 'action' : 'modification', 'password' : pass},
            dataType: 'json',
            url: 'parametres',
            success: function(data){
                confirmationBox('success', 'alertModifMatiere', 'countModifM', 'Le mot de passe de la matière à été modifié.');
            },
        });
    }); 
</script>
{% endblock javascript %}