{% extends 'site/navbarre.html' %}
{% load crispy_forms_tags %}
{% load extra_tags %}
{% load static %}

{% block body %}
<div class="border rounded" style="word-wrap:break-word">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
        <h1 class="display-5">{{ question.intitule }}</h1>
        {% if changer_texte_question %}
            <div class="row">
                <div class="col-11">
                    <p class="text-justify">{{ question.texte|linebreaks }}</p>
                </div>
                <div class="col-1">
                    <button class="btn btn-warning float-right m-2" title="Modifier" data-toggle="modal" data-target="#changerTexteQuestionModal">
                        <i class="fa fa-pen"></i>
                    </button>
                </div>
            </div>
        {% else %}
            <p class="text-justify">{{ question.texte|linebreaks }}</p>
        {% endif %}
        {% if question.image %}
           <a href="{{ question.image.url }}"> <img class="img-fluid" src="{{ question.image.url }}"></img></a>
        {% endif %}
        <hr class="my-4">
            {% csrf_token %}
            {% crispy form_reponse %}
        </li>
        {% for reponse in reponses %}
            <li class="list-group-item">
                {% if reponse.valide %}
                    <div class="card border-success">
                {% elif reponse.createur == matiere.createur %}
                    <div class="card border-primary">
                {% else %}
                    <div class="card border-0">
                {% endif %}
                    <div class="card-body border-0">
                        <div class="row">
                            <div class="text-justify col-11">{{ reponse.texte|linebreaks }}</div>
                            <div class="col-1">
                                {% if reponse.valide %}
                                    <div id="{{ reponse.id }}" class="float-right mb-2" style="margin-right: 0.75rem !important">
                                        <i class="fa fa-check fa-2x text-success"></i>
                                    </div>
                                {% endif %}
                                <div class="btn-group-vertical float-right m-2" role="group">
                                    {% with v=votes|get_reponse:reponse %}
                                        {% if v.is_upvote %}
                                            <button type="button" value="{{ reponse.id }}" class="btn btn-success upvote"><span class="fas fa-arrow-up"></span></button>
                                        {% else %}
                                            <button type="button" value="{{ reponse.id }}" class="btn btn-outline-success upvote"><span class="fas fa-arrow-up"></span></button>
                                        {% endif %}
                                    {% endwith %}
                                        <button type="button" class="btn btn-outline-secondary {{ reponse.id }}" style="pointer-events: none">{{ reponse.increment }}</button>
                                    {% with v=votes|get_reponse:reponse %}
                                        {% if v != None and not v.is_upvote %}
                                            <button type="button" value="{{ reponse.id }}" class="btn btn-danger downvote" ><span class="fas fa-arrow-down"></span></button>
                                        {% else %}
                                            <button type="button" value="{{ reponse.id }}" class="btn btn-outline-danger downvote" ><span class="fas fa-arrow-down"></span></button>
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                {% if possibilite_modifier and not reponse.valide and not question.valide %}
                                    <button type="button justify" title="Valider" id="{{ reponse.id }}" class="btn btn-success float-right m-2 validerReponse" data-toggle="modal" data-target="#validerModal">
                                        <i class="fa fa-check"></i>
                                    </button>
                                {% endif %}
                                {% if reponse in reponses_user %}
                                    <button class="btn btn-warning float-right m-2 changer_texte" title="Modifier" value="{{ reponse.id }}" data-toggle="modal" data-target="#changerTexteReponseModal">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                {% endif %}
                                {% if possibilite_modifier and not reponse.valide %}
                                    <button type="button justify" title="Supprimer" id="{{ reponse.id }}" class="btn btn-danger float-right m-2 supprimerReponse" data-toggle="modal" data-target="#alertModal">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                {% elif possibilite_modifier and reponse.valide  %}
                                    <button type="button justify" title="Invalider" id="{{ reponse.id }}" class="btn btn-danger float-right m-2 validerReponse" data-toggle="modal" data-target="#validerModal">
                                        <i class="fa fa-times"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-white">
                        {% with commentaires=reponse|get_commentaires %}
                        <hr>
                            {% if commentaires.count != 0 %}
                            <ul class="list-group list-group-flush m-3">
                                {% for commentaire in commentaires %}
                                    {% if forloop.last %}
                                        <li class="list-group-item p-2 border-bottom-0">
                                            <small>{{ commentaire.texte }}</small>
                                            <small class="float-right text-muted">{{ commentaire.date_creation|date:"j M à H:i" }} par <strong {% if commentaire.createur == matiere.createur %} class="text-primary" {% endif %} {% if user|is_professeur %} title={{ commentaire|get_real_pseudo }} {% endif %}> {{ commentaire.pseudo_createur }} </strong> </small>
                                        </li>
                                    {% else %}
                                        <li class="list-group-item p-2">
                                            <small>{{ commentaire.texte }}</small>
                                            <small class="float-right text-muted">{{ commentaire.date_creation|date:"j M à H:i" }} par <strong {% if commentaire.createur == matiere.createur %} class="text-primary" {% endif %} {% if user|is_professeur %} title={{ commentaire|get_real_pseudo }} {% endif %}> {{ commentaire.pseudo_createur }} </strong> </small>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        <hr>
                        {% endif %}
                        {% endwith %}
                        <small class="float-right text-muted" >{{ reponse.date_creation|date:"j F Y à H:i" }} par <strong {% if reponse.createur == matiere.createur %} class="text-primary" {% endif %} {% if user|is_professeur %} title={{ reponse|get_real_pseudo }} {% endif %}> {{ reponse.pseudo_createur }} </strong> </small>
                        <a id={{ reponse.id }} class="commentaire" href="#" data-toggle="modal" data-target="#commentaireModal"><small>Ajouter un commentaire</small></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="titreModal1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titreModal1">Attention!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p align="left">Voulez-vous vraiment supprimer cette réponse?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="supprimer" class="btn btn-danger" data-dismiss="modal" role="button">Supprimer</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changerTexteReponseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le texte de la réponse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form_textReponse %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changerTexteQuestionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le texte de la question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form_textQuestion %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="validerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Valider la réponse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p align="left">
                    {% if question.valide %}
                        Voulez-vous vraiment invalider cette réponse ?
                    {% else %}
                        Voulez-vous vraiment valider cette réponse ?
                    {% endif %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="valider" class="btn btn-success" data-dismiss="modal" role="button">Valider</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="commentaireModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Poster un commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy form_commentaire %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
<script src="{% static 'js/confirmationBox.js' %}"></script>
<script>
    $(".supprimerReponse").click(function(){
        var id=$(this).attr('id');
        $("#supprimer").val(id);
    });
    $(".validerReponse").click(function(){
        var id=$(this).attr('id');
        $("#valider").val(id);
    });
    $("#supprimer").click(function(){
        var idReponse=$(this).val();
        $.ajax({
            type: 'POST',
            data: {'id': idReponse, 'action' : 'suppression'},
            dataType: 'json',
            url: '/reponses/supprimer',
            success:function(data){
                $("#"+idReponse).parent().parent().parent().parent().parent().remove();
                confirmationBox('danger', 'alertSupprReponse', 'countSupprR', 'La réponse a été supprimée.');
            }
        });
    });
    $("#valider").click(function(){
        var idReponse=$(this).val();
        $.ajax({
            type: 'POST',
            data: {'id': idReponse, 'action' : 'valider'},
            dataType: 'json',
            url: '/reponses/valider',
            success:function(data){
                location.reload(true);
            }
        });
    });
    $(".upvote").click(function () {
        var id = $(this).val();
        if($(this).hasClass("btn-success")){
            $(this).removeClass("btn-success").addClass("btn-outline-success");
        }
        else{
            $(this).removeClass("btn-outline-success").addClass("btn-success");
            $(this).next().next().removeClass("btn-danger").addClass("btn-outline-danger");
        }
        $.ajax({
            type: 'POST',
            data: {'id': id, 'up_down': true},
            dataType: 'json',
            url: '/reponses/vote',
            success: function(data){
                numbers = document.getElementsByClassName(id);
                [].slice.call( numbers ).forEach(function ( number ) {
                    number.innerHTML = data.increment;
                });
            },
        });
    });
    $(".downvote").click(function () {
        var id = $(this).val();
        if($(this).hasClass("btn-danger")){
            $(this).removeClass("btn-danger").addClass("btn-outline-danger");
        }
        else{
            $(this).removeClass("btn-outline-danger").addClass("btn-danger");
            $(this).prev().prev().removeClass("btn-success").addClass("btn-outline-success");
        }
        $.ajax({
            type: 'POST',
            data: {'id': id, 'up_down': false},
            dataType: 'json',
            url: '/reponses/vote',
            success: function(data){
                numbers = document.getElementsByClassName(id);
                [].slice.call( numbers ).forEach(function ( number ) {
                    number.innerHTML = data.increment;
                });
            },
        });
    });
    $(".commentaire").click(function(){
        $('#id_id_reponse').val($(this).attr('id'));
    });
    $(".changer_texte").click(function(){
        $('#id_id_reponse_texte').val($(this).attr('value'));
    });
</script>
{% endblock javascript %}