{% extends 'site/navbarre.html' %}

{% block body %}
<h1 align="center"> Selection des Matières </h1>
<div class="input-group mb-4 mt-3">
    <input class="form-control py-2 border-right-0 border" type="search" id="recherche" onkeyup="recherche()" placeholder="Rechercher une matière">
    <span class="input-group-append">
        <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
    </span>
</div>
<div id="matieres">
{% for matiere, luminance in resultat %}
    <section class="card mb-3">
        <div class="card-header text-white" style="background-color : {{ matiere.couleur }}">
            <font color="{{ luminance }}"> {{matiere.nom}} </font>
        </div>
        <div class="card-body">
            <a href = "/selection_matieres/{{ matiere.id }}" class = "btn btn-primary">Inscription et connexion</a>
        </div>
    </section>
{% empty %}
    <h1 align="center">Aucune matière n'a été créée pour l'instant</h1>
{% endfor %}
</div>
{% endblock body %}

{% block javascript %}
<script>
function recherche() {
  var input, filter, div, elements,text, i, txtValue;
  input = document.getElementById('recherche');
  filter = input.value.toUpperCase();
  div = document.getElementById("matieres");
  elements = div.getElementsByTagName('section');

  for (i = 0; i < elements.length; i++) {
    text = elements[i].getElementsByTagName("div")[0].getElementsByTagName("font")[0];
    txtValue = text.textContent || text.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      elements[i].style.display = "";
    } else {
      elements[i].style.display = "none";
    }
  }
}
</script>
{% endblock javascript %}