{% extends 'site/navbarre.html' %}
{% load static %}


{% block body %}
<h3 class="text-center">Statistiques de la matière {{ matiere.nom }}</h3>
<div class="row">
    <div class="col-6 mr-auto ml-auto">
        <canvas id="firstChart" width="100" height="100"></canvas>
    </div>

</div>
<div class="card">
    <div class="card-header">
        <h5 class="text-center">Quelques nombres...</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <p>Étudiants inscrits à la matière</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_etu }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Questions posées</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_questions }}</p>
            </div>
        </div> 
        <div class="row">
            <div class="col-6">
                <p>Réponses fournies</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_reponses }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Commentaires donnés</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_commentaires }}</p>
            </div>
        </div>
        <hr>
        <h5 class="text-center">Total</h5>
        <div class="row">
            <div class="col-6">
                <p>Nombre de questions</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_total_q }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Nombre de réponses</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_total_r }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Nombre de commentaires</p>
            </div>
            <div class="col-6" align="right">
                <p>{{ count_total_c }}</p>
            </div>
        </div>
    </div>
</div>
<p class="text-center">Ratio de questions validées sur les questions invalidées:</p>
<div class="progress w-100">
    <div class="progress-bar bg-success" role="progressbar" style="width:{{ ratio_valide }}%" aria-valuenow="{{ ratio_valide }}" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ ratio_invalide }}%" aria-valuenow="{{ ratio_invalide }}" aria-valuemin="0" aira-valuemax="100"></div>
</div>
<div class="row mb-5">
    <div class="col">{{ count_valide }}</div>
    <div class="col" align="right">{{ count_invalidees }}</div>
</div>
{% endblock body %}

{% block javascript %}
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script>
        var ctx1 = $('#firstChart');

        var firstChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ["Cette semaine", "Les 30 derniers jours"],
                datasets: [{
                    label : 'Questions',
                    data: [
                            {{ count_q_sem }},
                            {{ count_q_month }},
                            0
                        ],
                    backgroundColor: [
                        'rgba(60, 110, 225, 1)',
                        'rgba(60, 110, 225, 1)',
                        'rgba(0, 0, 0, 1)',
                    ],
                    borderColor: [
                        'rgba(60, 110, 225, 1)',
                        'rgba(60, 110, 225, 1)',
                        'rgba(0, 0, 0, 1)',
                    ],
                    borderWidth: 1
                },
                {
                    label : 'Réponses',
                    data: [
                            {{ count_r_sem }},
                            {{ count_r_month }},
                            0
                    ],
                    backgroundColor: [
                        'rgba(190, 50, 50, 1)',
                        'rgba(190, 50, 50, 1)',
                        'rgba(0, 0, 0, 1)',
                    ],
                    borderColor: [
                        'rgba(190, 50, 50, 1)',
                        'rgba(190, 50, 50, 1)',
                        'rgba(0, 0, 0, 1)',
                    ],
                    borderWidth: 1
                },
                {
                    label : 'Commentaires',
                    data: [
                            {{ count_c_sem }},
                            {{ count_c_month }},
                        ],
                    backgroundColor: [
                        'rgba(40, 170, 40, 1)',
                        'rgba(40, 170, 40, 1)',
                    ],
                    borderColor: [
                        'rgba(40, 170, 40, 1)',
                        'rgba(10, 170, 40, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text : "Nombre d'éléments par semaine et mois"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    </script>
{% endblock javascript %}